<!doctype html>
<html ng-app="comment_feed">
<head>
<title>A Simple App</title>
<link href='style.css' rel='stylesheet' type='text/css'>
</head>
<body>
  <header>
    <h1>Comments</h1>
    <p>A simple app that allows a user to input comments</p>
  </header>

  <main ng-controller="comment_updater">
    <section class='comment-input'>
      <p>Add Your Comment:</p>
      <input ng-model="comment_input">
      <button ng-click="add_comment()">Add</button>
    </section>

    <section class='comments' ng-repeat="comment in commentList">
      <p> {{ comment }} </p>
    </section>
  </main>

  <footer>
  <p>this work is released into the public domain</p>
  </footer>

  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.16/angular.min.js"></script>
  <script src="app.js"></script>
</body>

</html>